.container {
  display: flex;
  flex-direction: column;
}
.introducetitle {
  display: flex;
  flex-direction: column;
}
.containerpista {
  display: flex;
  flex-direction: column;
}
.pista {
  border: 2px solid grey;
}
.intentos {
  border: 2px solid grey;
}
